.basic-grid {
  display: grid;
  gap: 1rem; /* instead of adding margin to the children */
  /* grid-template-columns: 1fr; */ /* 1 1 single column */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
